* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  /*"vh" je viewport height i 100vh je tvoj ekran cijeli. Slobodno pogledaj malo "vh" i "vw" jer su fora za koristiti. Onda sam oduzeo 100vh sa velicinom navbara, a stavio sam navbar da je 4rem */
  min-height: calc(100vh - 4rem);
  /* Navbar je fixan (pise u HTMLu pod <nav fixed-top, pomocu bootstrapa)>  a kad je fixan onda ne zauzima prostor i zato moram maknuti sav landing page prema dolje za visinu navbara. Ako hoces obrisi ovaj kod i i vidi sta je drukcije, bit ce jasno. */
}

.landing-page {
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 1050px) {
  .desktop-landing {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .mobile-landing {
    display: none;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar {
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  transition: 0.2s;
  width: 100%;
  border-bottom: 2px solid rgba(110, 65, 29, 0.384);
}

@media only screen and (max-width: 992px) {
  .navbar-toggler {
    margin-right: 3rem;
  }
  .logo-container {
    margin-left: 3rem;
  }
}

.navbar:hover {
  background: rgb(255, 255, 255);
}

@media only screen and (max-width: 991px) {
  .collapse {
    background: rgba(255, 255, 255);
  }
}

.collapse li a:hover {
  text-decoration: underline;
}

.navbar-nav {
  margin-right: 1rem;
}

.navbar-nav li a {
  margin: 2rem 0;
}

.navbar a {
  margin: 0 1.6rem;
  font-size: 1.2rem;
}

.nav-link {
  font-weight: 500;
}

.landing-page img {
  width: 100%;
  height: 100vh;
  margin-bottom: 4rem;
}

.d-block {
  height: 70vh;
  width: 70vw;
  cursor: pointer;
}

.carousel-container h3,
.tryitout {
  color: rgb(110, 65, 29);
  text-transform: uppercase;
}

.carousel-item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-control-next {
  margin-right: 15rem;
}
.carousel-control-prev {
  margin-left: 15rem;
}

@media only screen and (max-width: 1250px) {
  .d-block {
    width: 100vw;
  }
  .carousel-item.active {
    width: 90vw;
  }

  .carousel-control-next {
    margin-right: 0rem;
  }
  .carousel-control-prev {
    margin-left: 0rem;
  }
}

.carousel-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(136, 136, 136, 0.932);
  margin-bottom: 10rem;
}

.carousel-control-next {
  height: 100%;
}

#modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
}

#modal-image {
  width: 80%;
  height: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  z-index: 500;
  position: absolute;
  margin-top: 4rem;
  top: 15px;
  right: 60px;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.thumbnail-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem 0 5rem;
  gap: 1rem;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

.thumbnail-image {
  width: 9rem;
  height: 6rem;
  cursor: pointer;
}

.coffees-container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffees-container h2 {
  text-transform: uppercase;
  font-family: 'Italiana', serif;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgb(110, 65, 29);
}

.coffees-container h4 {
  text-transform: uppercase;
  font-family: 'Italiana', serif;
  color: rgb(110, 65, 29);
  font-weight: 600;
  white-space: nowrap;
}

.coffees-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.coffee {
  width: 15rem;
  border: 1px solid rgb(110, 65, 29);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  transition: 0.2s;
}

.coffee:hover {
  transform: scale(1.03);
}

.contact-form {
  margin-bottom: 10rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 10rem;
}

.contact-form {
  margin-left: 0;
  justify-content: center;
}

input {
  color: rgba(136, 136, 136, 0.932);
  font-size: 1rem;
  padding-left: 0.3rem;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgba(136, 136, 136, 0.932);
  margin-bottom: 3rem;
}

#checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-suggest {
  background: rgb(110, 65, 29);
  color: white;
  text-transform: uppercase;
}

.contactDescription {
  display: flex;
  justify-content: center;
  color: rgba(136, 136, 136, 0.932);
  margin-bottom: 3rem;
}

.comment-form {
  height: 5rem;
}

.review-form {
  margin-bottom: 5rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 10rem;
}

.review-form {
  margin-left: 0;
  justify-content: center;
}

.comm{
  border-style: inset;
  text-align: center;
  justify-content: center;
  
}

#sponsors {
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  align-items:center;
  text-align: center;
  color: rgba(136, 136, 136, 0.932);;
}


footer {
  height: 5rem;
  background: rgb(110, 65, 29);
  color: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer p {
  margin-bottom: 0;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
