* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /*"vh" je viewport height i 100vh je tvoj ekran cijeli. Slobodno pogledaj malo "vh" i "vw" jer su fora za koristiti. Onda sam oduzeo 100vh sa velicinom navbara, a stavio sam navbar da je 4rem */
  min-height: calc(100vh - 4rem);
  /* Navbar je fixan (pise u HTMLu pod <nav fixed-top, pomocu bootstrapa)>  a kad je fixan onda ne zauzima prostor i zato moram maknuti sav landing page prema dolje za visinu navbara. Ako hoces obrisi ovaj kod i i vidi sta je drukcije, bit ce jasno. */
  margin-top: 4rem;
}
.navbar {
  height: 4rem;
  z-index: 100;
  background: rgba(20, 5, 235, 0.6);
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.navbar:hover {
  background: rgba(20, 5, 235, 1);
}
.navbar a {
  margin: 0 1.6rem;
  font-size: 1.2rem;
}

.nav-link {
  font-weight: 500;
}

.landing-page {
  border-bottom: 1px solid #000;
  /*ovu crtu cemo obrisati ali neka ti bude orjentir da landing page mora biti 100vh i da crta ne ide ni gore ni dolje dok radis tu */
  min-height: calc(100vh - 4rem);
}

.d-block {
  height: 70vh;
  cursor: pointer;
}

.carousel {
  margin-top: 10rem;
}

#modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
}

#modal-image {
  width: 80%;
  height: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  z-index: 400;
  position: absolute;
  top: 15px;
  right: 60px;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.thumbnail-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  gap: 0.8rem;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

.thumbnail-image {
  width: 9rem;
  height: 6rem;
  cursor: pointer;
}

.array-container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array-options {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 4rem;
}

.coffee {
  cursor: pointer;
}

.contact-form {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}

input {
  color: rgba(136, 136, 136, 0.932);
  font-size: 1rem;
  padding-left: 0.3rem;
}

.button-submit {
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
